body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #008080; /* 蓝绿色背景 */
    padding: 20px;
    text-align: left;
}

.logo {
    height: 60px; /* 根据需要调整logo的大小 */
}

.title {
    text-align: center; /* 标题居中 */
    margin: 20px 0; /* 添加一些上下外边距以增加视觉间距 */
}

.title h1 {
    font-size: 24px;
    color: #333;
}

.content {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
